//以下是案例，待筛选整理
$blue: #34a0e7;
$skyBlue: #e9f5fd;
$green: rgb(22, 133, 60);
$red: #e45353;
$gray: #999;
$shadowGray:#99999950;
$shadowGreen:#d9e4e6;
$orange: #fc8848;
$white:#fff;
$detailBlockBg:#f9f9f9;
$smallSize:14px;
$mediumSize:16px;
$largeSize:20px;